{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
   <div class="container-fluid d-flex justify-content-center align-items-center   flex-column  main">
         <h1>Reinitialliser votre mot de passe </h1>
      {# <p> Bonjour et bienvenue Chez Snowtricks</p>
       <img src="https://images.unsplash.com/photo-1551524559-8af4e6624178?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c2tpfGVufDB8fDB8fHww" alt="Logo" width="400" height="380" class="d-inline-block align-text-top" width="150" height="80" alt="logo de la can 2023" class="img-fluid"> #}

       {{ form_start(form) }}
            {{ form_row(form.name)}}
            <button type="submit" name="envoyer" class="btn btn-primary">Valider</button>
        {{ form_end(form)}}
   </div>
       
{% endblock %}
