<h1>Bonjour {{ user }}!</h1>

<p>
    Cliquez sur ce lien pour Modifier votre adresse Mot de passe: <br><br>
    <a href="{{ tokenUrl|raw }}">Changer mon mot de passe</a>.
</p>

<p>
    Snowtricks !
</p>
