<h1>Bonjour {{user}}! Merci pour votre inscription</h1>

<p>
    Cliquez sur ce lien pour valider votre adresse Email: <br><br>
    <a href="{{ tokenUrl|raw }}">Validez votre Email</a>.
</p>

<p>
    Snowtricks !
</p>
