<div class="container-fluid">
    <div class="col-lg-6 col-md-12 d-flex justify-content-center justify-content-lg-between align-items-center mb-3">
        <a class="p-1 text-white d-flex flex-column justify-content-center align-items-center" href="" target="_blank">
            <span class="d-flex">SnowTricks &copy; {{ 'now'|date('Y') }}</span>
        </a>
    </div>
</div>
